.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-around;
}


.btn {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boton {
  width: 40px;
  height: 40px;
}

.compras-container {
  display: flex;
  justify-content: flex-end;
}

.main-container {
  text-align: center;
  width: 85%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.aside {
  width: 15%;
  border-right: 1px solid black;
  min-width: 250px;
}

.filters {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.filters div {
  display: flex;
  gap: 1rem;
}

.principalContainer {
  width: 100%;
  display: flex;
  padding: 2rem;
}

.header-container {
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.header-container div {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.header-container .search {
  width: 100%;
}

.header-container button {
  width: 20%;
}

.header-container .filters-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .principalContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .main-container {
    width: 100%;
  }

  .aside {
    width: 100%;
    border: none;
  }

  .filters {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-container {
    flex-direction: column;
  }

  .brand {
    text-align: center;
  }

  .me-auto {
    flex-direction: row;
  }
}