.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-around;
}


.btn {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boton {
  width: 40px;
  height: 40px;
}

.compras-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  text-align: center;
  width: 85%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.aside {
  width: 15%;
  border-right: 1px solid black;
  min-width: 250px;
}

.filters {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.filters div {
  display: flex;
  gap: 1rem;
}

.principalContainer {
  width: 100%;
  display: flex;
  padding: 2rem;
}